:root {
  --color1: #f1f2f4;
}

body {
  background-color: var(--color1);
}

.r1 {
  height: 70px;
  background: #fff;
}

.r1 {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 0;


  .c1 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;


    .logo {
      width: 130px;
      height: 100%;

      object-fit: contain;
    }

    .search {
      background: #f0f5ff;
      border-radius: 8px;
      text-indent: 10px;
      padding: 5px 0;

      input {
        width: 50vw;
        height: 100%;
        border: none;
        background: #f0f5ff;
        border-radius: 8px;
        text-indent: 10px;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .c2 {

    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .icon_txt {
      margin: 0 10px;
    }

    .login {

      font-size: 20px;
      font-weight: 400;
      margin: 0 10px;

    }

    .cart_cc {
      height: 100%;
      display: flex;

      span {
        font-size: 20px;
        font-weight: 400;

      }

      .business {
        height: 100%;
        display: flex;
        align-items: center;
        text-wrap: nowrap;

      }


    }
  }

}

.r2 {
  background-color: #fff;
  margin: 10px;
  position: relative;
}

.r2 .box {
  width: 100px;
  height: 130px;
  /* background-color: gray; */
  padding: 15px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.r2 .img {
  width: 100%;
  height: 70%;
  background-color: #fff;
  margin-bottom: 10px;
}

.hide {
  display: none;
}




.r2 .row>* {
  padding: 0;
}



.r2 .box2 {

  background-color: red;
  position: absolute;
  width: max-content;
  transform: translate(2px, 124px);

}

.r2 .box2 .cc {
  display: inline-block;
}